<h1 class="zglvk">Все писатели</h1>
<% @authors.each do |author| %>
  <div class="img_cntrd">
    <div>
      <p><%= image_tag(author.image.url(:thumb)) if author.image.exists? %></p>
      <p><%= link_to author.name,author_path(author)%></p>
      <p>Дата рождения: <%= author.dob%></p>
    </div>
  </div>
<% end %>
<p><%= link_to "Новый писатель", new_author_path %></p>
<p><%= link_to "Новая рецензия", new_review_path %></p>
<p><%= link_to "Все рецензии", reviews_path %></
