<%= image_tag(@author.image.url(:thumb)) if @author.image.exists? %>
<h1><%= @author.name %></h1>
<p><%= @author.bio %></p>
<p><%= @author.dob %></p>
<%= link_to "Изменить", edit_author_url(@author.id) %>
<%= link_to "Удалить", author_path(@author.id), method: :delete, data: {confirm: 'Вы уверены,что хотите удалить писателя?'} %>
